*{
    margin: 0;
    padding: 0;
}

.bg{
    background-image: url(bg-header.png);
    height: 200px;
    width: 100%;
    position: relative;
    margin-top: -77px;
}
.ndiv2{
    
    position: absolute;
    height: 65px;
    width: 64%;
    background-color: rgba(72, 169, 208, 0.7);
    margin-left: 18%;
    border-radius: 7px 7px 0px 0px ;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin-top: 133px;
  
}
.main1{
    position: relative;
    height: 75vh;
    width: 100%;
    background-image: url(paper.gif) ;
}

.inside2{
    position: relative;
    height: 42vh;
    width: 64%;
    margin-left: 18%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 0px 0px 7px 7px ;
}

.left1{
    position: absolute;
    height: 332px;
    width: 65%;

}

.right1{
    position: absolute;
    height: 332px;
    width: 35%;
    margin-left: 65%;
}

.text1{
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
}

.input1{
    position: absolute;
    width: 280px;
    margin-top: 12%;
    margin-left: 30px;
}

.input2{
    position: absolute;
    width: 280px;
    margin-top: 20%;
    margin-left: 30px;
}

.input3{
    position: absolute;
    width: 280px;
    margin-top: 12%;
    margin-left: 50%;
}

.input4{
    position: absolute;
    width: 280px;
    margin-top: 20%;
    margin-left: 50%;
}
.input5{
    position: absolute;
    width: 280px;
    margin-top: 22%;
    margin-left: 30px;
}
.input6{
    position: absolute;
    width: 280px;
    margin-top: 37%;
    margin-left: 30px;
}

.btn3{
    position:absolute;
    margin-top: 28%;
    margin-left: 30px;
   
}

.btn4{
    position:absolute;
    margin-top: 52%;
    margin-left: 30px;
}

.ndiv2 h4{
    color: white;
    margin-left: 30px;
    margin-top: 20px;
}